@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');

body {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    min-height: 100vh; /* Assure que le body occupe toute la hauteur de l'écran */
    margin: 0; /* Supprime les marges par défaut du body */
  }
  .calculator {
    width: 500px;
    height: 600px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  #display {
    width: 98%;
    height: 20%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 22px;
    border: 1px solid #ccc;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  button {
    padding: 30px;
    font-size: 22px;
    border: 1px solid #ccc;
    cursor: pointer;
  }